
    #intro {
      background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
      height: 100vh;
    }

    /* Height for devices larger than 576px */
    @media (min-width: 992px) {
      #intro {
        margin-top: -58.59px;
      }
    }

    .navbar .nav-link {
      color: #fff !important;
    }

   .headerTitle{
    color:red; 
    margin-left: 15%;
    font-size: 2rem;

   }
   #accessCodes{
    color:red;
   }

   